mixin CardExample 
  .row
    .col-md-6
      .card
        a(href='#!').overflow-hidden
          img.card-img-top(src=`${CWD}assets/img/card-01.jpg`, alt='Card image cap')
        .card-body
          a(href='#!').text-dark
            h5.card-title Career Monogamy: The Awkward Tech Sin of Longevity
          p.card-text.text-dark.font-secondary The Slack message was
            a(href='#!') #genuine
            |  and brief, “congrats on 20 years!” My name had apparently been listed on…
        .card-footer.d-flex.align-items-center
          img.me-3.rounded-circle.avatar(src=`${CWD}assets/img/team/11.jpg`, alt='avatar')
          .font-secondary
            a(href='#!').text-dark
              h6.mb-0 Laurie Bream
            span.fs-10.text-dark May 23 &middot; 6 min read

    .col-md-6.mt-6.mt-md-0
      .card
        a(href='#!').overflow-hidden
          img.card-img-top(src=`${CWD}assets/img/card-02.jpg`, alt='Card image cap')
        .card-body
          a(href='#!').text-dark
            h5.card-title.border-bottom.pb-3 Career Monogamy: The Awkward Tech Sin of Longevity
          .d-flex.align-items-center
            img.me-3.rounded-circle.avatar(src=`${CWD}assets/img/team/12.jpg`, alt='avatar')
            .font-secondary
              a(href='#!').text-dark
                h6.mb-0 Gavin Belson
              span.fs-10.text-dark.font-secondary May 23 &middot; 6 min read

    .col-md-6.mt-6
      .card
        .card-header
          .d-flex.align-items-center.py-2
            img.me-3.rounded-circle.avatar(src=`${CWD}assets/img/team/10.jpg`, alt='avatar')
            .font-secondary
              a(href='#!').text-dark
                h6.mb-0 Cuberto
              span.fs-10.text-dark May 23 &middot; 6 min read
        .card-body
          a(href='#!').text-dark
            h5.card-title Functionality vs Emotions in Mobile Interface Animation
          p.card-text.text-dark.font-secondary
            | Let’s start off by pointing out that we’ll be talking about the practical applications of
            a(href='#!') #animation
            |  in terms of the effort and expediency…

        .card-footer.d-flex.justify-content-between.text-body-tertiary
          a.text-dark.py-2(href='#!')
            span.fa.fa-heart.me-1.text-danger
            | 84
          a.text-dark.py-2(href='#!')
            span.fa.fa-share-alt.me-1
            | 7