extends ../layouts/LayoutTheme
include ../mixins/pages/Portfolio

block beforeMainContent
  +FancyNav

prepend scripts
  script(src=`${CWD}vendors/isotope-layout/isotope.pkgd.min.js`) 
  script(src=`${CWD}vendors/isotope-packery/packery-mode.pkgd.min.js`) 
  script(src=`${CWD}vendors/swiper/swiper-bundle.min.js`)
  script(src=`${CWD}vendors/bigpicture/BigPicture.js`)

prepend styles
  link(href=`${CWD}vendors/swiper/swiper-bundle.min.css`, rel='stylesheet')


append mainContent  
  +Portfolio
  
