mixin Masonry(filter)
  if filter
    ul.nav.font-secondary.mb-3(data-filter-nav)&attributes(attributes)
      li.nav-item
        a.nav-link.isotope-nav.active(href ='#!' data-filter='*') all
      li.nav-item 
        a.nav-link.isotope-nav(href ='#!' data-filter='.small') small
      li.nav-item 
        a.nav-link.isotope-nav(href ='#!' data-filter='.medium') medium
      li.nav-item 
        a.nav-link.isotope-nav(href ='#!' data-filter='.large') large
     

  .row.g-3.mt-3(data-isotope!={
    layoutMode: 'packery',   
  })
    .col-6.col-md-4.isotope-item.small
      img(src=`${CWD}assets/img/gallery/07.jpg` alt='').img-fluid.rounded.w-100
    .col-6.col-md-8.isotope-item.large
      img(src=`${CWD}assets/img/gallery/11.jpg` alt='').img-fluid.rounded.w-100
    .col-6.col-md-4.isotope-item.medium
      img(src=`${CWD}assets/img/gallery/03.jpg` alt='').img-fluid.rounded.w-100
    .col-6.col-md-4.isotope-item.medium
      img(src=`${CWD}assets/img/gallery/09.jpg` alt='').img-fluid.rounded.w-100
    .col-6.col-md-4.isotope-item.small
      img(src=`${CWD}assets/img/gallery/06.jpg` alt='').img-fluid.rounded.w-100
    .col-6.col-md-8.isotope-item.large
      img(src=`${CWD}assets/img/gallery/12.jpg` alt='').img-fluid.rounded.w-100
    .col-6.col-md-4.isotope-item.small
      img(src=`${CWD}assets/img/gallery/08.jpg` alt='').img-fluid.rounded.w-100